@charset "UTF-8";
/* Шапка */
.header {
  background-color: #ffffff;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Логотип */
.logo {
  margin-right: 85px;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-transform: capitalize;
}

.logo span {
  color: #2196f3;
}

/* Навигация*/
.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:focus,
.link:hover,
.link-current {
  color: #2196f3;
  fill: #2196f3;
}

.navig .link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.link-contact {
  color: #757575;
  fill: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navig .style + .style {
  margin-left: 50px;
}

.contact {
  margin-left: auto;
}

.contact .icon {
  margin-right: 10px;
  overflow: visible;
}

.style-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cver;
}

.hero h1 {
  margin-top: 0px;
  margin-bottom: 46px;
  padding-top: 200px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка заказ услуги */
.button {
  border: 4px solid #2196f3;
  border-radius: 4px;
  padding: 6px 28px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.06em;
}

/* Особенности */
section.features {
  padding-top: 94px;
  background-color: #ffffff;
}

section.features ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.features li {
  width: calc((100% - 30px * 3) / 4);
}

section.features li + li {
  margin-left: 30px;
}

section.features h2 {
  font-size: 0;
  margin-top: 0;
}

section.features h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

section.features p {
  margin: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

section.features a {
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

section.features div.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.background .icon {
  width: 70px;
  height: 70px;
}

/* Род занятий */
section.occupation {
  padding-bottom: 94px;
  padding-top: 94px;
}

section.occupation h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

section.occupation h3 {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

section.occupation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

section.occupation li {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
}

section.occupation li + li {
  margin-left: 30px;
}

.description {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

/* Команда */
section.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

section.team h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team .card p {
  margin-top: 0;
  margin-bottom: 28px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.team .card img {
  margin-bottom: 30px;
}

.team .card > li {
  padding-bottom: 24px;
  width: calc((100% - 30px * 3) / 4);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team .card li + li {
  margin-left: 30px;
}

.team .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .social li + li {
  margin-left: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/* Клиенты */
section.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}

section.customer h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

section.customer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

section.customer li {
  width: calc((100% - 30px * 5) / 6);
}

section.customer li + li {
  margin-left: 30px;
}

.customer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, .customer-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/* Подвал */
footer.footer {
  padding-top: 48px;
  padding-bottom: 28px;
  color: #ffffff;
  background-color: #2f303a;
}

footer.footer p {
  display: block;
  margin: 0;
  padding-top: 18px;
  text-align: center;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.footer-logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  text-transform: capitalize;
  display: block;
  margin-bottom: 10px;
}

.footer-logo span {
  color: #2196f3;
}

.contacts-style {
  width: 321px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address ul {
  padding-left: 0;
}

address li {
  padding-bottom: 9px;
}

address li:last-child {
  padding-bottom: 28px;
}

.mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover, .mail:focus {
  color: #2196f3;
}

.tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel:hover, .tel:focus {
  color: #2196f3;
}

.footer .social {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social li + li {
  margin-left: 10px;
}

.main-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-link:hover, .main-link:focus {
  background-color: #2196f3;
}

.social-style {
  width: 206px;
  margin-right: 94px;
}

.social-style b {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
}

.form-style {
  width: 570px;
}

.form-style input {
  background-color: #2f303a;
  color: #ffffff;
  width: 270px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 10px;
}

.form-style b {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
}

.button-footer {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 4px solid #2196f3;
  border-radius: 4px;
  padding: 6px 4px;
  min-width: 200px;
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-footer svg {
  margin-left: 10px;
}

.button-footer::after {
  content: "";
  height: 24px;
  width: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

/* Форма */
.subscription {
  position: relative;
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.subscription p {
  margin-bottom: 30px;
  margin-top: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.field {
  position: relative;
  height: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field-entry {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 16px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.field-entry:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.field-text {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.field-style {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
}

form textarea {
  resize: none;
  left: 16px;
  height: 100%;
  width: 100%;
}

.field-entry:focus ~ .field-icon,
.field-entry:not(:placeholder-shown) + .field-icon {
  fill: #2196f3;
}

.field-entry:focus + .field-text,
.field-entry:not(:placeholder-shown) + .field-text {
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
  color: #2196f3;
}

.field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 18px;
  width: 18px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.conditions a {
  text-decoration: underline;
  color: #2196f3;
}

form button {
  display: block;
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
  top: 8px;
  left: 490px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0;
  padding: 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
}

.close:focus, .close:hover {
  fill: #2196f3;
}

.close-icon {
  height: 100%;
  width: 100%;
  color: #000000;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-check {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  border: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-box input[type="checkbox"]:checked + .icon-check {
  background-color: #2196f3;
  background-image: url(..//images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.background.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  /* transition-delay: 2500ms;
  transition-property: transform;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* Портфолио */
section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
}

section.portfolio h1 {
  font-size: 0px;
  margin: 0;
}

.portfolio .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-bottom: 50px;
}

.portfolio .choice li + li {
  margin-left: 8px;
}

.choice-button {
  padding: 2px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border: 4px solid #f5f4fa;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.choice-button:hover, .choice-button:focus {
  background: #2196f3;
  color: #ffffff;
  border: 4px solid #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.choice-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choice-card li:nth-child(3n) {
  margin-right: 0;
}

.choice-card li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-style {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 30px * 2) / 3);
  background: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-style:hover, .card-style:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.card-text {
  position: relative;
  overflow: hidden;
}

.card-text .text {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-style:hover .text,
.card-style:focus .text {
  opacity: 1;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
/*# sourceMappingURL=main.css.map */