/* Клиенты */

section.customer {
  padding-top: 94px;
  padding-bottom: 94px;

  h2 {
    margin-top: 0;
    margin-bottom: 50px;
  }

  ul {
    display: flex;
    padding: 0;
  }

  li {
    width: calc((100% - 30px * 5) / 6);
  }

  li + li {
    margin-left: 30px;
  }
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $a_color;
    fill: $a_color;
  }
}
